<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Video List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Video Link</th>
            <th>Duration</th>
            <th>Checked</th>
            <th>Approved</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="video : ${videos}">
            <td th:text="${video.title}"></td>
            <td th:text="${video.videoDescription}"></td>
            <td><a th:href="${video.videoLink}" th:text="Link"></a></td>
            <td th:text="${video.duration}"></td>
            <td th:text="${video.checked} ? 'Yes' : 'No'"></td>
            <td th:text="${video.approved} ? 'Yes' : 'No'"></td>
            <td>
                <a th:href="@{/videos/updateVideo(videoId=${video.id})}"
                   class="btn btn-info btn-sm">
                    UPDATE
                </a>
                <a th:href="@{/videos/delete(videoId=${video.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this video? This action cannot be undone'))) return false">
                    DELETE
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/users/{userId}/videos/addNewVideo(userId=${session.user.id})}"
       class="btn btn-primary btn-sm mb-3">
        ADD NEW VIDEO
    </a>
</div>
</body>
</html>
